[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
  required = true
	process = git-lfs filter-process
[user]
	name = Ryo Nakabayashi
  email = ryonakabayashi@gmail.com
[core]
  excludesfile = /Users/ryought/.gitignore_global
  editor = vim
[alias]
  st = status
  unstage = reset HEAD
  a = add
  p = push
  c = commit
  graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
  graphall = log --graph --all --decorate
  showMergedLocalBranch = branch --merged
  showMergedRemoteBranch = branch -r --merged
  deleteLocalBranch = branch -d
  deleteRemoteBranch = push --delete origin

