# bash用の設定
$if Bash
  # 高速な補完
  set show-all-if-ambiguous on
  # 大文字小文字を無視
  set completion-ignore-case on
  # ベルなし
  set bell-style none
  # ディレクトリや実行可能ファイルに印と色
  set visible-stats on
  set colored-stats on
  set mark-symlinked-directories on
  set colored-completion-prefix on
  # C-(n|p)でhistory-search
  # "\C-p":history-search-backward
  # "\C-n":history-search-forward

  # # vi-like editing mode
  # set editing-mode vi
  # set show-mode-in-prompt on
  # set vi-ins-mode-string \1\e[34;1m\2(i) \1\e[0m\2
  # set vi-cmd-mode-string \1\e[31;1m\2(c) \1\e[0m\2
  # # set keymap vi-command
  # set keymap vi-insert
  # "\C-a": beginning-of-line
  # "\C-e": end-of-line

$endif
